{% load staticfiles %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a href="{% url 'index' %}" class="navbar-brad"><img src="{% static 'chatbot_website/img/robot.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="navbar-collapse collapse show" id="navbars">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " id="dropdown" data-toggle="dropdown">История</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown">
                        <a class="dropdown-item " href="{% url 'begin' %}">Предпосылки</a>
                        <a class="dropdown-item" href="{% url 'ourtime' %}">Наше время</a>
                        <a class="dropdown-item" href="{% url 'future' %}">Будущее</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown">Виды</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown">
                        <a class="dropdown-item" href="{% url 'simple' %}">Простые</a>
                        <a class="dropdown-item" href="{% url 'hard' %}">Сложные</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'example' %}">Примеры чат-ботов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">Блог</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_news' %}">Добавить новость</a>
                </li>
                {% endif %}

            </ul>
            <span class="navbar-text">
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a>
            </span>

        </div>
    </nav>
</header>