{% extends "chatbot_website/base_blog.html" %}

{% block title %}
{{ category.title }}
{% endblock %}

{% block category %}
{{ category.title }}
{% endblock %}

{% block sidebar %}
{% include 'chatbot_website/inc/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{% url 'category' item.pk %}">{{item.category}}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if item.photo%}
                <img src="{{ item.photo.url }}" alt="" width="300px" height="400px" class="ml-3"/>
                {% else %}
                <img src="https://picsum.photos/seed/picsum/536/350" alt="" class="mr-3"/>
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.content|linebreaksbr|truncatewords:75 }}</p>
                    <a href="#" class="btn btn-primary">Read more..</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date:"Y-m-d H:i" }}
        </div>
    </div>
    {% endfor %}
{% endblock %}