{% extends "chatbot_website/base.html" %}
<title>Сложные чат-боты</title>
{% block content %}
    <div class="article-one">
    {% if article_one %}
        {% for article_one in article_one %}
            <div class="text-center">
                <h2>{{ article_one.title }}</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="paragraph-one"><img class="img1" height="256" width="256" src="{{ article_one.image.url}}" >{{ article_one.text }}</p>

                </div>
            </div>
        {% endfor %}
    {% else %}

        <div class="row">
            <div class="col-sm">
                <p>No articles are available.</p>
            </div>
        </div>
    {% endif %}
    </div>

  <div class="article-two">
    {% if article_two %}
        {% for article_two in article_two %}
            <div class="text-center">
                <h2>{{ article_two.title }}</h2>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <h3 >{{ article_two.title_first }}</h3>
                    <p class="paragraph-one"><img class="img1" src="{{ article_two.image_first.url}}" > {{ article_two.text_first }}</p>
                </div>



                <hr>
            </div>
            <div class="row ">
                    <div class="col-md-12">
                    <h3 class="text-right">{{ article_two.title_second }}</h3>
                    <p class="paragraph-one"><img class="img1" src="{{ article_two.image_second.url}}" >{{ article_two.text_second }}</p>
                </div>


                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm">
                <p class="paragraph-two" >No articles are available.</p>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
