{% extends "chatbot_website/base.html" %}

{% load staticfiles %}
<title>Главная</title>

{% block carousel %}
{% include 'chatbot_website/inc/_carousel.html' %}
{% endblock %}

<!--{% include 'chatbot_website/inc/__carousel.html' %}-->
{% block content %}
<div class="container-fluid">
    <div class="row article-one">
        {% if article_one %}
        {% for article_one in article_one %}
        <div class=" col-12 text-center">
            <h2>{{ article_one.title }}</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 ">
            <p class="paragraph-one"> {{ article_one.text }} </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 for-media">
            <img class="img1" src="{{ article_one.image.url}}"/>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm">
            <p>No articles are available.</p>
        </div>
    </div>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row article-two">
        {% if article_two%}
        {% for article_two in article_two %}
        <div class="col-12 text-center">
            <h2>{{ article_two.title }}</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <p class="paragraph-one"> {{ article_two.text }}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <img class="img1" src="{{ article_two.image.url}}">
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <p>No articles are available.</p>
        </div>
    </div>
    {% endif %}
</div>


<div class="container-fluid">
    <div class="row article-one text-center">
        {% if article_three %}
        {% for article_three in article_three %}
        <h2 class=" col-12 text-center">
            {{ article_three.title }}
        </h2>
        <div class="col-lg-4">
            <img src="{{ article_three.image_first.url}}">
            <h2>{{ article_three.title_first }}</h2>
            <p class="paragraph-two">{{ article_three.text_first }}</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ article_three.image_second.url}}">
            <h2>{{ article_three.title_second }}</h2>
            <p class="paragraph-two">{{ article_three.text_second }}</p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="{{ article_three.image_third.url}}">
            <h2>{{ article_three.title_third }}</h2>
            <p class="paragraph-two">{{ article_three.text_third }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col-sm">
        <p>No articles are available.</p>
    </div>
</div>
{% endif %}
</div>

{% endblock %}

