{% extends "chatbot_website/base.html" %}
<title>Наше время</title>
{% block content %}
    <div class="article-one">
    {% if article_one %}
        {% for article_one in article_one %}
            <div class="text-center">
                <h2>{{ article_one.title }}</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="paragraph-one">{{ article_one.text }}</p>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm">
                <p>No articles are available.</p>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="article-two">
    {% if article_two%}
        {% for article_two in article_two %}
            <div class="text-center">
                <h2>{{ article_two.title }}</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="paragraph-one"> <img class="img1"  width="540" height="500" src="{{ article_two.image.url}}" > {{ article_two.text }}</p>

                    </div>

            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm">
                <p>No articles are available.</p>
            </div>
        </div>
    {% endif %}
            </div>

    <div class="article-one">
    {% if article_three %}
        {% for article_three in article_three %}
            <div class="text-center">
                <h2>{{ article_three.title }}</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="paragraph-one"> <img class="img1"   src="{{ article_three.image.url}}" >{{ article_three.text }}</p>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm">
                <p>No articles are available.</p>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
