{% extends "chatbot_website/base_blog.html" %}

{% block title %}
{{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block category %}
<h1> Добавление новости </h1>
{% endblock %}

{% block sidebar %}
{% include 'chatbot_website/inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1> Регистрация </h1>

<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button
            type="submit"
            class="btn btn-primary btn-block">
        Регистрация
    </button>
</form>


{% endblock %}